 body{
     background-color: rgba(163, 205, 218, 0.493);
 }

 .caixa{
    border-style: dashed;
    border-color: rgb(187, 153, 184);
    border-width: 2px;
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;

 }